.glContainer {
  width: 100vw;
  height: 100vh;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    font-size: 18px;
    font-weight: 300;
    padding: 0 50px;
  }

  li {
    position: relative;
    margin-bottom: 5px;
  }

  li:after {
    content: "#";
    position: absolute;
    top: 0px;
    left: -20px;
    font-weight: 200;
    color: #999999;
  }

  ul a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  ul a:hover {
    opacity: 0.5;
  }
}
