.matterjs {
  padding: 30px;

  ul {
    padding: 0;
    list-style-type: none;
    font-size: 12px;
  }

  .container {
    // margin-top: 20px;
    height: 85vh;
    background: #f4f4f4;
  }

  canvas {
    border: 1px solid #333;
  }
}